/*
    Imports
/*----------------------------------------------*/

@import"bourbon";
@import"neat";
@import"inc/breakpoints";
@import"inc/mixins";
@import"inc/variables";
/*
    General styles
/*----------------------------------------------*/

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

/*
    Header
/*----------------------------------------------*/


/*
    Footer
/*----------------------------------------------*/


