/*
    Breakpoints
/*----------------------------------------------*/

$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 767px 8);
$desktop: new-breakpoint(min-width 960px 12);