/*
    Breakpoints
/*----------------------------------------------*/

$mobile: new-breakpoint(max-width 768px 4);
$tablet: new-breakpoint(max-width 1024px 8);
$desktop: new-breakpoint(max-width 1500px 12);