@font-face {
    font-family: proximanova;
    font-weight: bold;
    src: url("../fonts/proximanova.otf") format("opentype");
}
@font-face {
    font-family: proximanovalight;
    font-weight: bold;
    src: url("../fonts/proximanovalight.otf") format("opentype");
}

.hidden {
    display: none !important;
}